name: Build

on:
  push:
    branches: "*" # TODO: change to master
  pull_request:
    branches: "*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] # [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.10"] # ["3.7", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - run: hatch env create
      - run: PYTHONPATH=nglview/tests hatch run test:pytest
      - run: hatch run docs:make -C docs html

      # - name: Install dependencies
      #   run: |
      #     python -m pip install -U codecov
      #     npm install -g codecov

      # - name: Install
      #   run: |
      #     python -m pip install --upgrade -v -e ".[test, examples, docs]"

      # - name: Test the extension
      #   run: |
      #     python -m pytest
      #     yarn run test

      # - name: Linting
      #   if: ${{ matrix.os == 'ubuntu-latest' }}
      #   run: |
      #     yarn run lint:check

      # - name: Check docs can be build + links
      #   if: ${{ matrix.os == 'ubuntu-latest' }}
      #   working-directory: docs
      #   run: |
      #     sudo apt install -y pandoc
      #     make html
      #     python -m pytest --check-links
